*{
    margin: 0;
    padding: 0;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}

a{
   
    text-decoration: none;
}
li{
    list-style: none;
}

body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav_bar{
    width: 100%;
    height: 11%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    background-color: #034903cd
}

.container_logo{
    width: 50%;
    height: auto;
    display: flex;
    justify-content:center ;
    align-items: center;

}

.nav_bar>.container_logo>img{
    width: 10rem;
    height: auto;
    margin: 1rem 0 1rem 0;
}

.nav_bar>ul{
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:3rem;
}

.content_tittle{
    width: 100%;
    height: 28rem;
}

.content_tittle>img{
    width: 100%;
    height: 28rem;
    object-fit: cover;
    opacity: 20%;
}

.content_tittle>h1{
    font-size: 3.5rem;
    text-align: center;
    position: relative;
    top: -16rem;
    color: #007400;
}

main{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_concepts{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem 0 2rem 0;
    background-color: #03490382;
}

.concept{
    width: 20%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    text-align: center;

}

.concept>img{
    width: 3rem;
}

.concept>h3{
    color: #007400;
}

.container_implementation{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0 2rem 0;
    background-color: #eeffee;
}

.information_implementation{
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.information_implementation>h2{
    color: #007400;
}

.information_implementation>p{
    width: 35rem;
    color: #84a884;
    text-align: justify;
}

.information_implementation>a{
    width: 5.5rem;
    padding: 0.5rem;
    text-align: center;
    color: #007400;
    border: 1px solid #007400;
}